fastapi
uvicorn[standard]
fief-client-fastapi
redis-py
docker-py
pydantic-settings
google-api-python-client
botocore
boto3
oauth2client
google-auth-httplib2
google-auth-oauthlib
itsdangerous
sse_starlette
s3utils